# Игнорируемые файлы при сборке Docker образа
.git
.gitignore
README.md
.env
.env.example
.env.local
.env.production

# Директории
node_modules
logs
coverage.html
coverage.out
bin
tests

# Временные файлы
*.log
*.tmp
*.swp
*.swo
*~

# IDE файлы
.vscode
.idea
*.iml

# OS файлы
.DS_Store
Thumbs.db

# Docker файлы
Dockerfile
docker-compose.yml
.dockerignore

# Документация
docs/swagger.json
docs/swagger.yaml
